*, p {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(149, 7, 20); /* cranberry */
    font-family: Verdana, sans-serif;
}

#headerandnav {
    background-color: #000;
    color: #ddd;
    padding: 5px;
    text-align: center;
}

.card {
    margin: 10px;
}

#canvas {
    margin: auto; /* center the canvas */
    width: 95%;
    overflow: hidden;
}